---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<div>
<h2 name="catalysis">Catalysis</h2>
{% include base_path %}
<ul>
{% for post in site.research %}
	{% if post.topic == "catalysis" %}
		{% include archive-single-topics.html %}
	{% endif %}
{% endfor %}
</ul>
<h2 name="KMC">Kinetic Monte Carlo modeling of surface reactions</h2>
{% include base_path %}
<ul>
{% for post in site.research %}
	{% if post.topic == "kmc" %}
		{% include archive-single-topics.html %}
	{% endif %}
{% endfor %}
</ul>
</div>


