
<div>
{% assign everything = site.publications | concat: site.research %}

<h3>News</h3>
<ol class="news__item">
{% for post in everything reversed %}
  {% if post.newsline %}	
    <li class="news__item">{% include archive-news.html %}</li>
  {% endif %}
{% endfor %}
</ol>

{% comment %}
<h2 id="book">Book chapters</h2>
{% include base_path %}
<ul>
{% for post in site.publications reversed %}
  {% if post.pubtype == "bookchapter" %}
    {% capture label %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if label != written_label %}
       </ul><h3>{{ label }}</h3><ul>
       {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
</ul>
</div>
<div>
<h2 id="article">Journal articles</h2>
{% include base_path %}
{% capture written_label %}{{ "none" }}{% endcapture %}
<ul>
{% for post in site.publications reversed %}
  {% if post.pubtype == "journal" %}
    {% capture label %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if label != written_label %}
       </ul><h3>{{ label }}</h3><ul>
       {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
</ul>

{% endcomment %}
</div>


