{% include base_path %}


  <div class="sidebar__left">

    {% include breadcrumbs.html %}
 <!--{{ page.title }}-->
  <nav class="breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
	<li>Contents</li>
  {% if page.title=="Publications" %}
    <li>
		<a href="#book" itemprop="additionalType"><i>Book chapters</i></a>
		<meta itemprop="position" content="book" />
	</li>
    <li>
		<a href="#article" itemprop="additionalType"><i>Journal articles</i></a>
		<meta itemprop="position" content="Journal articles" />
	</li>
  {% endif %}
  {% if page.title=="Research" %}
    <li>
		<a href="#catalysis" itemprop="additionalType"><i>Catalysis</i></a>
		<meta itemprop="position" content="Catalysis" />
	</li>
    <li>
		<a href="#KMC" itemprop="additionalType"><i>KMC</i></a>
		<meta itemprop="position" content="KMC" />
	</li>
  {% endif %}
  </ol>
  </nav>
  </div>
